@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	background-color: #1C1A2A;
}
h1 {
font-family: ManifoldCF-Bold;
font-size: 26px;
color: #159045;
line-height: 31px;
}
p{
font-family: OpenSans;
font-size: 16px;
color: inherit;
line-height: 22px;
}
nav{
	position: absolute;
	width:100%;
	height:86px;
	border-bottom: 1px solid #fff;
	color: #fff;
	z-index: 10;
}
nav svg {
	height:50px;
	margin-left:120px;
	margin-top: 16px;
}
a{
	text-decoration: none;
	color: inherit;
}
nav ul {
	display: inline-block;
	text-decoration: none;
	float:right;
	margin-right: 120px;
	margin-top: 33px;
	font-family: ManifoldCF-DemiBold;
	font-size: 20px;
	letter-spacing: 0.25px;
	line-height: 24px;
}
nav li {
	display: inline-block;
	margin-left: 40px;
}
nav li:first-of-type{
	margin-left: 0;
}
nav li:last-of-type {
	color: #7ABC55;
}

#hero {
	width: 100vw;
	height: 100vh;
	overflow:hidden;
	color: #fff;
	z-index: 1;
	position: absolute;
	text-align: center;
}
#shade {
	position: absolute;
	height: 100vh;
	width:100vw;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1c1a2a+0,1c1a2a+75,1c1a2a+100&0+0,0+75,1+100 */
background: -moz-linear-gradient(top,  rgba(28,26,42,0) 0%, rgba(28,26,42,0) 75%, rgba(28,26,42,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(28,26,42,0) 0%,rgba(28,26,42,0) 75%,rgba(28,26,42,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(28,26,42,0) 0%,rgba(28,26,42,0) 75%,rgba(28,26,42,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001c1a2a', endColorstr='#1c1a2a',GradientType=0 ); /* IE6-9 */

}
#heroBackground {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 0;
	background-color: #030003;
}
video#heroBG {
min-height: 100vh;
min-width: 100vw;
position: absolute;
top:0;
z-index: 0;
/*-webkit-filter: blur(3px);*/
}
#pre {
	margin-top: 86px;
	display:block;
	position:absolute;
	/*max-width: 1102px;*/
	height:61.8vh;
	width: 100vw;
	padding-top: 13vh;
	color: #fff;
	text-align: center;
	-webkit-filter: blur(0px);
}
#pre h1{ 
		color: inherit;
		font-size: 50px;
		line-height: 60px;
		text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
}

#pre p {
font-size: 26px;
line-height: 36px;
letter-spacing: -0.32px;
max-width: 1035px;
padding: 0 20px;
position: relative;
margin: 20px auto 0;
}
#pre a {
background: #7ABC55;
border-radius: 5px;
font-family: OpenSans-Bold;
font-size: 26px;
color: inherit;
letter-spacing: 0.32px;
line-height: 36px;
padding: 16px 12px;
margin-top: 32px;
position: relative;
}
#post{
	display: inline-block;
	position:relative;
/*	margin-top: 61.8vh;*/
	height: 38.2vh;
	width: 80%;
	max-width: 1440px;
	margin: 61.8vh auto 0 auto;
	color: #444444;
	background-color: #fff;
	text-align: center;
}
#post h1 {
	font-size: 36px;
	color: #159045;
	line-height: 43px;
	max-width: 100%;
	display: block;
	margin-top: 80px;
}
#post p {
	max-width: 640px;
	padding: 0 20px;
	display: inline-block;
	margin-top: 17px;
	font-size: 20px;
	line-height: 27px;
}




/*body {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
}
#contain{
	max-width: 1440px;
	position: relative;
	margin: 0 auto;
	-webkit-box-shadow: 0px 0px 40px 10px rgba(0,0,0,0.14);
	-moz-box-shadow: 0px 0px 40px 10px rgba(0,0,0,0.14);
	box-shadow: 0px 0px 40px 10px rgba(0,0,0,0.14);
}
#cover {
	width: 100%;
	position: relative;
	background: url(cover.png) no-repeat;
	background-size: 100% auto;
	text-align: center;
	height: 857px;
	z-index: 2;
}
#title {
	display: inline-block;
	margin: 40px auto 0 auto;
	text-align: left;
}
#bench {
	width: 100%;
	height: 675px;
	background-size: 100% auto;
	background-image: url(bench.png);
	position: relative;
	z-index: 1;
	margin-top: -203px;
}
#facts {
	width: 361px;
	height: 522px;
	z-index: 3;
	margin: 252px 80px 0 0 ;
	float: right;
	background-color: #455A64;
	padding: 25px;
	color: #fff;
	font-size: 24px;
	font-weight: 400;
}
#facts ul li {
	margin-bottom: 40px;
	line-height: 33px;
}
#snow {
	margin-top: -10px;
}
#snow video {
	width: 100%;
	height: auto;
	margin-top: -149px;
}
h1 {
	color: #4D4D4D;
	font-size: 24px;
	font-weight: 300;
}
h1 span {
	visibility: hidden;
}
svg {
	width: 258px;
}
#instafeed {
	border: 5px solid #fff;
}
#instafeed a img {
	width: 25% !important;
	height: auto !important;
	border: 5px solid #fff;
	box-sizing: border-box;
}*/